a {
	cursor: pointer;
	color: blue;
}

.treenode {
	padding-left: 16px;
}

.reko-browser {
	padding-right: 20px;
	float: left;
}

.reko-procedure {
	display: inline-block;
	margin-left: 20px;
	max-height: 200px;
	overflow-y: scroll;
}

.results-container {
	width: 100%;
	height: 200px;
	position:relative;
	clear: both;
}

.search-results {
	clear: both;
}

.reko-container {
	height: 100%;
	max-height: 100%;
	width: 100%;
	max-width: 100%;
}

.reko-pane {
	overflow-y: scroll;
	display: initial;	
}

/** Procedures **/
span.kw {
	color: green;
	font-weight: bold;
}

.srHeader > table {
	width: 100%;
}

.srHeader th {
	text-align: left;
}