.treenode {
	padding-left: 16px;
}

.reko-browser {
	float: left;
}

.reko-procedure {
	float: right;
}

.results-container {
	width: 100%;
	height: 200px;
	position:relative;
	clear: both;
}

.search-results {
	clear: both;
}

.reko-container {
	height: 100%;
	max-height: 100%;
	width: 100%;
	max-width: 100%;
}

.reko-pane {
	overflow-y: scroll;
}

/** Procedures **/
span.kw {
	color: green;
	font-weight: bold;
}

.srHeader > table {
	width: 100%;
}

.srHeader th {
	text-align: left;
}