<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Reko">
      <section name="Loaders" type="Reko.Core.Configuration.LoaderSectionHandler,Reko.Core" />
      <section name="Architectures" type="Reko.Core.Configuration.ArchitectureSectionHandler,Reko.Core" />
      <section name="Environments" type="Reko.Core.Configuration.OperatingEnvironmentSectionHandler,Reko.Core" />
      <section name="UiPreferences" type="Reko.Core.Configuration.UiPreferencesSectionHandler,Reko.Core" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <Reko>
    <!-- Each loader element defines the magic number that appears in a executable file format. Reko can then decide which Loader to use. -->
    <Loaders>
      <Loader MagicNumber="4D5A" Type="Reko.ImageLoaders.MzExe.ExeImageLoader,Reko.ImageLoaders.MzExe" />
      <Loader MagicNumber="7F454C46" Type="Reko.ImageLoaders.Elf.ElfImageLoader,Reko.ImageLoaders.Elf" />
      <Loader MagicNumber="28546869732066696C65206D75737420626520636F6E76657274656420776974682042696E48657820342E3029" Type="Reko.ImageLoaders.BinHex.BinHexImageLoader,Reko.ImageLoaders.BinHex" />
      <Loader MagicNumber="0407" Type="Reko.ImageLoaders.AOut.AOutLoader,Reko.ImageLoaders.AOut" />
      <Loader MagicNumber="014C" Type="Reko.ImageLoaders.Coff.CoffLoader,Reko.ImageLoaders.Coff" /> <!-- X86 COFF object or executable -->
      <Loader MagicNumber="0200" Type="Reko.ImageLoaders.Coff.CoffLoader,Reko.ImageLoaders.Coff" /> <!-- IA64 COFF object or executable -->
      <Loader MagicNumber="8664" Type="Reko.ImageLoaders.Coff.CoffLoader,Reko.ImageLoaders.Coff" /> <!-- AMD64 COFF object or executable -->
      <Loader MagicNumber="0166" Type="Reko.ImageLoaders.Coff.CoffLoader,Reko.ImageLoaders.Coff" /> <!-- MIPS COFF object or executable -->
      <Loader MagicNumber="0184" Type="Reko.ImageLoaders.Coff.CoffLoader,Reko.ImageLoaders.Coff" /> <!-- Alpha COFF object or executable -->
      <Loader MagicNumber="01F0" Type="Reko.ImageLoaders.Coff.CoffLoader,Reko.ImageLoaders.Coff" /> <!-- PowerPC COFF object or executable -->
      <Loader MagicNumber="0268" Type="Reko.ImageLoaders.Coff.CoffLoader,Reko.ImageLoaders.Coff" /> <!-- MC68000 COFF object or executable -->
      <Loader MagicNumber="0290" Type="Reko.ImageLoaders.Coff.CoffLoader,Reko.ImageLoaders.Coff" /> <!-- PA-RISC COFF object or executable"-->
      <Loader MagicNumber="FEEDFACE" Type="Reko.ImageLoaders.MachO.MachOLoader,Reko.ImageLoaders.MachO" />
      <Loader MagicNumber="FEEDFACF" Type="Reko.ImageLoaders.MachO.MachOLoader,Reko.ImageLoaders.MachO" />
      <Loader MagicNumber="CEFAEDFE" Type="Reko.ImageLoaders.MachO.MachOLoader,Reko.ImageLoaders.MachO" />
      <Loader MagicNumber="CFFAEDFE" Type="Reko.ImageLoaders.MachO.MachOLoader,Reko.ImageLoaders.MachO" />
      <Loader MagicNumber="000003F3" Type="Reko.ImageLoaders.Hunk.HunkLoader,Reko.ImageLoaders.Hunk" />
    </Loaders>
    
    <!-- Each environment element defines the Operating environment Reko is aware of -->
    
    <Environments>
      <Environment Name="win32" Description="Win32" Type="Reko.Environments.Win32.Win32Platform,Reko.Environments.Win32">
        <TypeLibraries>
          <TypeLibrary Name="windows32.xml" />
          <TypeLibrary Name="commctrl.xml" />
          <TypeLibrary Name="msvcrt.xml" />
        </TypeLibraries>
      </Environment>

      <Environment Name="win64" Description="Win64" Type="Reko.Environments.Win32.Win_x86_64_Platform,Reko.Environments.Win32">
        <TypeLibraries>
          <TypeLibrary name="windows64.xml" />
          <TypeLibrary name="commctrl.xml" />
          <TypeLibrary name="msvcrt.xml" />
          <TypeLibrary name="oleaut32.xml" />
          <TypeLibrary name="ntoskrnl.xml" />
        </TypeLibraries>
        <Characteristics>
          <TypeLibrary name="win32characteristics.xml" />
        </Characteristics>
      </Environment>
      
      <Environment Name="ms-dos" Description="MS-DOS" Type="Reko.Environments.Msdos.MsdosPlatform,Reko.Environments.Msdos">
      </Environment>
      <Environment Name="amigaOS" Description="AmigaOS" Type="Reko.Environments.AmigaOS.AmigaOSPlatform,Reko.Environments.AmigaOS">
      </Environment>
      <Environment Name="zx81" Description="ZX81" Type="Reko.Environments.ZX81.ZX81Environment,Reko.Environments.ZX81">
      </Environment>
    </Environments>
    
    <!-- Specifies the processor architectures Reko is aware of -->
    
    <Architectures>
      <Architecture Name="x86-real-16" Description="Intel x86 16-bit Real Mode" Type="Reko.Arch.X86.X86ArchitectureReal,Reko.Arch.X86" />
      <Architecture Name="x86-protected-32" Description="Intel x86 32-bit Protected Mode" Type="Reko.Arch.X86.X86ArchitectureFlat32,Reko.Arch.X86" />
      <Architecture Name="m68k" Description="Motorola 68K family" Type="Reko.Arch.M68k.M68kArchitecture,Reko.Arch.M68k" />
      <Architecture Name="sparc" Description="Sun SPARC family" Type="Reko.Arch.Sparc.SparcArchitecture,Reko.Arch.Sparc" />
      <Architecture Name="arm" Description="ARM family" Type="Reko.Arch.Arm.ArmArchitecture,Reko.Arch.Arm" />
      <Architecture Name="arm-thumb2" Description="ARM Thumb 2" Type="Reko.Arch.Arm.Thumb2ProcessorArchitecture,Reko.Arch.Arm" />
      <Architecture Name="ppc32" Description="PowerPC 32-bit" Type="Reko.Arch.PowerPC.PowerPcArchitecture,Reko.Arch.PowerPC" />
      <Architecture Name="z80" Description="Zilog Z-80" Type="Reko.Arch.Z80.Z80ProcessorArchitecture,Reko.Arch.Z80" />
    </Architectures>

    <UiPreferences disassemblyFont="Courier New, 10pt">
    </UiPreferences>
  </Reko>
  
  <system.diagnostics>
    <switches>
      <add name="Coalescer" value="0" />
      <add name="RegisterLiveness" value="0" />
      <add name="DeadCode" value="0" />
      <add name="TypeCollector" value="3" />
      <add name="TypeTransformer" value="2" />
      <add name="TraitCollector" value="2" />
      <add name="CodeStructure" value="4" />
      <add name="ValueNumbering" value="0" />
	    <add name="Scanner" value="0" />
	    <add name="StructureTransforms" value="0" />
	    <add name="CcodeEliminator" value="0" />
	    <add name="HunkLoader" value="4" />
	    <add name="BackWalker" value="4" />
  	</switches>
  </system.diagnostics>
</configuration>
