[Oo]bj
[Bb]in
TestResults
/src/Samples/TravisRelease
/src/.vs
*.csproj.user
*.vcxproj.user
*.opensdf
*.sdf
*.suo
*.ubj
*.VC.opendb
*.VC.db
/src/UpgradeLog.htm
/src/UnitTests/UnitTests.VisualState.xml
/src/UnitTests/UnitTests.csproj.VisualState.xml
/src/UnitTests/TestResult.xml
/src/tools/reko.config
/src/Reko-decompiler.VC.db
**/ipch/

# MSVC build directories
**/x86/Debug
**/x86/Release
**/x64/Debug
**/x64/Release
/subjects/**/Debug
/subjects/**/Release
/src/Arch/ArmNative/Debug
/src/Arch/ArmNative/Release
/src/Debug
/src/Release
/src/Native/build
