<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Decompiler">
      <section name="Loaders" type="Decompiler.Core.Configuration.LoaderSectionHandler,Decompiler.Core" />
      <section name="Architectures" type="Decompiler.Core.Configuration.ArchitectureSectionHandler,Decompiler.Core" />
      <section name="Assemblers" type="Decompiler.Core.Configuration.AssemblerSectionHandler,Decompiler.Core" />
      <section name="Environments" type="Decompiler.Core.Configuration.OperatingEnvironmentSectionHandler,Decompiler.Core" />
      <section name="UiPreferences" type="Decompiler.Core.Configuration.UiPreferencesSectionHandler,Decompiler.Core" />
      <section name="SignatureFiles" type="Decompiler.Core.Configuration.SignatureFileSectionHandler,Decompiler.Core" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <!-- Decompiler configuration sections  -->
  <Decompiler>
    <!-- Each loader element defines the magic number that appears in a executable file format. The decompiler can then decide which Loader to use. -->
    <Loaders>
      <Loader MagicNumber="4D5A" Type="Decompiler.ImageLoaders.MzExe.ExeImageLoader,Decompiler.ImageLoaders.MzExe" />
      <Loader MagicNumber="7F454C46" Type="Decompiler.ImageLoaders.Elf.ElfImageLoader,Decompiler.ImageLoaders.Elf" />
      <Loader MagicNumber="28546869732066696C65206D75737420626520636F6E76657274656420776974682042696E48657820342E3029" Type="Decompiler.ImageLoaders.BinHex.BinHexImageLoader,Decompiler.ImageLoaders.BinHex" />
      <Loader MagicNumber="0407" Type="Decompiler.ImageLoaders.AOut.AOutLoader,Decompiler.ImageLoaders.AOut" />
      <Loader MagicNumber="014C" Type="Decompiler.ImageLoaders.Coff.CoffLoader,Decompiler.ImageLoaders.Coff" /> <!-- X86 COFF object or executable -->
      <Loader MagicNumber="0200" Type="Decompiler.ImageLoaders.Coff.CoffLoader,Decompiler.ImageLoaders.Coff" /> <!-- IA64 COFF object or executable -->
      <Loader MagicNumber="8664" Type="Decompiler.ImageLoaders.Coff.CoffLoader,Decompiler.ImageLoaders.Coff" /> <!-- AMD64 COFF object or executable -->
      <Loader MagicNumber="0166" Type="Decompiler.ImageLoaders.Coff.CoffLoader,Decompiler.ImageLoaders.Coff" /> <!-- MIPS COFF object or executable -->
      <Loader MagicNumber="0184" Type="Decompiler.ImageLoaders.Coff.CoffLoader,Decompiler.ImageLoaders.Coff" /> <!-- Alpha COFF object or executable -->
      <Loader MagicNumber="01F0" Type="Decompiler.ImageLoaders.Coff.CoffLoader,Decompiler.ImageLoaders.Coff" /> <!-- PowerPC COFF object or executable -->
      <Loader MagicNumber="0268" Type="Decompiler.ImageLoaders.Coff.CoffLoader,Decompiler.ImageLoaders.Coff" /> <!-- MC68000 COFF object or executable -->
      <Loader MagicNumber="0290" Type="Decompiler.ImageLoaders.Coff.CoffLoader,Decompiler.ImageLoaders.Coff" /> <!-- PA-RISC COFF object or executable"-->
      <Loader MagicNumber="FEEDFACE" Type="Decompiler.ImageLoaders.MachO.MachOLoader,Decompiler.ImageLoaders.MachO" />
      <Loader MagicNumber="FEEDFACF" Type="Decompiler.ImageLoaders.MachO.MachOLoader,Decompiler.ImageLoaders.MachO" />
      <Loader MagicNumber="CEFAEDFE" Type="Decompiler.ImageLoaders.MachO.MachOLoader,Decompiler.ImageLoaders.MachO" />
      <Loader MagicNumber="CFFAEDFE" Type="Decompiler.ImageLoaders.MachO.MachOLoader,Decompiler.ImageLoaders.MachO" />
      <Loader MagicNumber="000003F3" Type="Decompiler.ImageLoaders.Hunk.HunkLoader,Decompiler.ImageLoaders.Hunk" />         <!-- AmigaOS Hunk image -->
      <Loader MagicNumber="A0A0" Offset="165A0" Type="Decompiler.Environments.C64.D64Loader,Decompiler.Environments.C64" /> <!-- C64 disk image loader -->
      <Loader Extension="def" Type="Decompiler.Environments.Win32.ModuleDefinitionLoader,Decompiler.Environments.Win32" />  <!-- Win32 module definition file -->

      <!-- Image unpackers take a compressed image and uncompress it. -->

      <Loader Label="LZEXE v0.91, v1.00a (1)"  Type="Decompiler.ImageLoaders.MzExe.LzExeUnpacker,Decompiler.ImageLoaders.MzExe" />
      <Loader Label="PKLITE v1.00, v1.03"      Type="Decompiler.ImageLoaders.MzExe.PkLiteUnpacker,Decompiler.ImageLoaders.MzExe" />
      <Loader Label="EXEPACK v4.05, v4.06"     Type="Decompiler.ImageLoaders.MzExe.ExePackLoader,Decompiler.ImageLoaders.MzExe" />
      <Loader Label="UPX -&gt; www.upx.sourceforge.net"   Argument="upx_ultimate.osc" Type="Decompiler.ImageLoaders.OdbgScript.OdbgScriptLoader,Decompiler.ImageLoaders.OdbgScript" />
      <Loader Label="UPX v0.89.6 - v1.02 / v1.05 - v1.22" Argument="upx_ultimate.osc" Type="Decompiler.ImageLoaders.OdbgScript.OdbgScriptLoader,Decompiler.ImageLoaders.OdbgScript" />
    </Loaders>

    <!-- Signature files contain byte signatures useful to identify file formats -->
    <SignatureFiles>
      <SignatureFile Filename="IMAGE_FILE_MACHINE_I386.xml" Type="Decompiler.Loading.UnpackerSignatureLoader,Decompiler" />
    </SignatureFiles>

    <!-- Each environment element defines the Operating environment the decompiler is aware of -->

    <Environments>
      <Environment Name="elf-neutral" Description="Unspecified ELF ABI" Type="Decompiler.Environments.SysV.SysVPlatform,Decompiler.Environments.SysV">
        <TypeLibraries>
          <TypeLibrary arch="ppc32" name="libc.so-ppc32.xml" />
        </TypeLibraries>
      </Environment>
      
      <Environment Name="win32" Description="Win32" Type="Decompiler.Environments.Win32.Win32Platform,Decompiler.Environments.Win32">
        <TypeLibraries>
          <TypeLibrary name="windows.xml" />
          <TypeLibrary name="commctrl.xml" />
          <TypeLibrary name="msvcrt.xml" />
          <TypeLibrary name="oleaut32.xml" />
          <TypeLibrary name="ntoskrnl.xml" />
        </TypeLibraries>
      </Environment>
      
      <Environment Name="ms-dos" Description="MS-DOS" Type="Decompiler.Environments.Msdos.MsdosPlatform,Decompiler.Environments.Msdos">
      </Environment>
      <Environment Name="amigaOS" Description="AmigaOS" Type="Decompiler.Environments.AmigaOS.AmigaOSPlatform,Decompiler.Environments.AmigaOS">
      </Environment>
      <Environment Name="riscOS" Description="RISC OS" Type="Decompiler.Environments.RiscOS.RiscOSPlatform,Decompiler.Environments.RiscOS">
      </Environment>

      <Environment Name="zx81" Description="ZX81" Type="Decompiler.Environments.ZX81.ZX81Environment,Decompiler.Environments.ZX81">
      </Environment>

      <Environment Name="macOs" Description="Mac OS Classic" Type="Decompiler.Environments.MacOS.MacOSClassic,Decompiler.Environments.MacOS">
        <TypeLibraries>
          <TypeLibrary name="macos_classic.xml" />
        </TypeLibraries>
      </Environment>

      <Environment Name="elf-cell-lv2" Description="Playstation 3" Type="Decompiler.Environments.Ps3.Ps3Platform,Decompiler.Environments.Ps3">
      </Environment>
    </Environments>

    <!-- Specifies the processor architectures the decompiler is aware of -->

    <Architectures>
      <Architecture Name="x86-real-16" Description="Intel x86 16-bit Real Mode" Type="Decompiler.Arch.X86.X86ArchitectureReal,Decompiler.Arch.X86" />
      <Architecture Name="x86-protected-32" Description="Intel x86 32-bit Protected Mode" Type="Decompiler.Arch.X86.X86ArchitectureFlat32,Decompiler.Arch.X86" />
      <Architecture Name="m68k" Description="Motorola 68K family" Type="Decompiler.Arch.M68k.M68kArchitecture,Decompiler.Arch.M68k" />
      <Architecture Name="ppc32" Description="PowerPC 32-bit" Type="Decompiler.Arch.PowerPC.PowerPcArchitecture32,Decompiler.Arch.PowerPC" />
      <Architecture Name="ppc64" Description="PowerPC 64-bit" Type="Decompiler.Arch.PowerPC.PowerPcArchitecture64,Decompiler.Arch.PowerPC" />
      <Architecture Name="sparc" Description="Sun SPARC family" Type="Decompiler.Arch.Sparc.SparcArchitecture,Decompiler.Arch.Sparc" />
      <Architecture Name="arm" Description="ARM family" Type="Decompiler.Arch.Arm.ArmProcessorArchitecture,Decompiler.Arch.Arm" />
      <Architecture Name="z80" Description="Zilog Z-80" Type="Decompiler.Arch.Z80.Z80ProcessorArchitecture,Decompiler.Arch.Z80" />
      <Architecture Name="m6502" Description="MOS 6502" Type="Decompiler.Arch.Mos6502.Mos6502ProcessorArchitecture,Decompiler.Arch.Mos6502" />
    </Architectures>

    <!-- Specifies assemblers the decompiler can make use of -->
    <Assemblers>
      <Assembler Name="x86-masm" Description="MASM-Like assembler for Intel x86" Type="Decompiler.Assemblers.x86.IntelAssembler,Decompiler.Assemblers.x86" /> 
    </Assemblers>
    
    <UiPreferences 
      disassemblyFont="Courier New, 10pt" 
      srcFont="Consolas, 10pt">
    </UiPreferences>
  </Decompiler>

  <system.diagnostics>
    <switches>
      <add name="Coalescer" value="0" />
      <add name="RegisterLiveness" value="0" />
      <add name="DeadCode" value="0" />
      <add name="TypeCollector" value="3" />
      <add name="TypeTransformer" value="2" />
      <add name="TraitCollector" value="2" />
      <add name="CodeStructure" value="0" />
      <add name="ValueNumbering" value="0" />
	    <add name="Scanner" value="0" />
	    <add name="StructureTransforms" value="0" />
	    <add name="CcodeEliminator" value="0" />
	    <add name="HunkLoader" value="4" />
	    <add name="BackWalker" value="4" />
  	</switches>
  </system.diagnostics>
</configuration>
