<?xml version="1.0" encoding="utf-8"?>
<!-- Reko configuration file -->
<Reko xmlns="http://schemata.jklnet.org/Reko/Config/v1">
    <Loaders>
      <!-- The following elements define the magic number that appears in a executable file format. Reko can then decide which Loader to use. -->
      <Loader MagicNumber="4D5A" Type="Reko.ImageLoaders.MzExe.ExeImageLoader,Reko.ImageLoaders.MzExe"        Description="MZ executable" />
      <Loader MagicNumber="7F454C46" Type="Reko.ImageLoaders.Elf.ElfImageLoader,Reko.ImageLoaders.Elf"        Description="ELF executable" />
      <Loader MagicNumber="58455831" Type="Reko.ImageLoaders.Xex.XexLoader,Reko.ImageLoaders.Xex"             Description="XEX1, Xbox 360 Executable" />
      <Loader MagicNumber="58455832" Type="Reko.ImageLoaders.Xex.XexLoader,Reko.ImageLoaders.Xex"             Description="XEX2, Xbox 360 Executable" />
      <Loader MagicNumber="4E524F30" Offset="0x10" Type="Reko.ImageLoaders.Nro.NroLoader,Reko.ImageLoaders.Nro"             Description="NRO, Nintendo Switch Executable" />
      <Loader MagicNumber="28546869732066696C65206D75737420626520636F6E76657274656420776974682042696E48657820342E3029" Type="Reko.ImageLoaders.BinHex.BinHexImageLoader,Reko.ImageLoaders.BinHex" />
      <Loader MagicNumber="0407" Type="Reko.ImageLoaders.AOut.AOutLoader,Reko.ImageLoaders.AOut"              Description="a.out executable format" />
      <Loader MagicNumber="014C" Type="Reko.ImageLoaders.Coff.CoffLoader,Reko.ImageLoaders.Coff"              Description="X86 COFF object or executable" />
      <Loader MagicNumber="0200" Type="Reko.ImageLoaders.Coff.CoffLoader,Reko.ImageLoaders.Coff"              Description="IA64 COFF object or executable" />
      <Loader MagicNumber="8664" Type="Reko.ImageLoaders.Coff.CoffLoader,Reko.ImageLoaders.Coff"              Description="AMD64 COFF object or executable" />
      <Loader MagicNumber="0166" Type="Reko.ImageLoaders.Coff.CoffLoader,Reko.ImageLoaders.Coff"              Description="MIPS COFF object or executable" />
      <Loader MagicNumber="0184" Type="Reko.ImageLoaders.Coff.CoffLoader,Reko.ImageLoaders.Coff"              Description="Alpha COFF object or executable" />
      <Loader MagicNumber="01F0" Type="Reko.ImageLoaders.Coff.CoffLoader,Reko.ImageLoaders.Coff"              Description="PowerPC COFF object or executable" />
      <Loader MagicNumber="0268" Type="Reko.ImageLoaders.Coff.CoffLoader,Reko.ImageLoaders.Coff"              Description="MC68000 COFF object or executable" />
      <Loader MagicNumber="0290" Type="Reko.ImageLoaders.Coff.CoffLoader,Reko.ImageLoaders.Coff"              Description="PA-RISC COFF object or executable" />

      <Loader MagicNumber="0104" Offset="0x2" Type="Reko.ImageLoaders.HpSom.HpSomLoader,Reko.ImageLoaders.HpSom" Description="HPUX Executable SOM library" />
      <Loader MagicNumber="0108" Offset="0x2" Type="Reko.ImageLoaders.HpSom.HpSomLoader,Reko.ImageLoaders.HpSom" Description="HPUX Sharable, executable SOM" />

      <Loader MagicNumber="FEEDFACE" Type="Reko.ImageLoaders.MachO.MachOLoader,Reko.ImageLoaders.MachO"       Description="Mach-O big-endian 32-bit binary" />
      <Loader MagicNumber="FEEDFACF" Type="Reko.ImageLoaders.MachO.MachOLoader,Reko.ImageLoaders.MachO"       Description="Mach-O big-endian 64-bit binary" />
      <Loader MagicNumber="CEFAEDFE" Type="Reko.ImageLoaders.MachO.MachOLoader,Reko.ImageLoaders.MachO"       Description="Mach-O little-endian 32-bit binary" />
      <Loader MagicNumber="CFFAEDFE" Type="Reko.ImageLoaders.MachO.MachOLoader,Reko.ImageLoaders.MachO"       Description="Mach-O little-endian 64-bit binary" />
      <Loader MagicNumber="000003F3" Type="Reko.ImageLoaders.Hunk.HunkLoader,Reko.ImageLoaders.Hunk"          Description="AmigaOS Hunk image" />
      <Loader MagicNumber="A0A0" Offset="0x165A0" Type="Reko.Environments.C64.D64Loader,Reko.Environments.C64"  Description="C64 disk image loader" />
      <Loader MagicNumber="5345474120" Offset="0x100" Type="Reko.Environments.SegaGenesis.RomLoader,Reko.Environments.SegaGenesis"  Description="Sega Genesis ROM" />
      <Loader MagicNumber="204C4943454E53454420425920534E4B20434F52504F524154494F4E" Type="Reko.Environments.NeoGeo.PocketRomLoader,Reko.Environments.NeoGeo"  Description="Neo Geo Pocket ROM" />
      <Loader MagicNumber="5345474120534547414B4154414E4120" Type="Reko.Environments.Dreamcast.Loader,Reko.Environments.Dreamcast"  Description="Sega Dreamcast loader" />
      <Loader MagicNumber="601A" Type="Reko.Environments.AtariTOS.PrgLoader,Reko.Environments.AtariTOS"       Description="Atari TOS .PRG file" />
      <Loader MagicNumber="80" Type="Reko.ImageLoaders.Omf.OmfLoader,Reko.ImageLoaders.Omf"                   Description="Intel OMF object file / library" />
      
      <!-- The following loaders are based on file extension -->
      <Loader Extension="def" Type="Reko.Environments.Windows.ModuleDefinitionLoader,Reko.Environments.Windows"
              Label="ModuleDefinitionFile"                                                                    Description="Win32 module definition file" />
      <Loader Label="spec" Extension="spec" Type="Reko.Environments.Windows.WineSpecFileLoader,Reko.Environments.Windows"  Description="Spec file used by Wine" />
      <Loader Extension="dmk" Type="Reko.Environments.Trs80.DmkLoader,Reko.Environments.Trs80"                Description="TRS-80 disk image loader" />
      <Loader Extension="exe" Type="Reko.ImageLoaders.VmsExe.VmsExeLoader,Reko.ImageLoaders.VmsExe"           Description="VAX/VMS executable" />
      <Loader Extension="sav" Type="Reko.Environments.RT11.SavFileLoader,Reko.Environments.RT11"              Description="RT-11 SAV file" />
      <Loader Extension="lda" Type="Reko.Environments.RT11.LdaFileLoader,Reko.Environments.RT11"              Description="RT-11 SAV file" />
      <Loader Extension="ll" Type="Reko.ImageLoaders.LLVM.LLVMLoader,Reko.ImageLoaders.LLVM"                  Description="LLVM IR file" />
      <Loader Extension="t64" Type="Reko.Environments.C64.T64Loader,Reko.Environments.C64"                    Description="C64 tape image loader" />
      
      <!-- The following loaders have known file formats but no specified file extensions -->
      <Loader Label="NintendoDol" Type="Reko.ImageLoaders.Dol.DolLoader,Reko.ImageLoaders.Dol"                Description="Nintendo DOL image format" />
      <Loader Label="IntelHex" Type="Reko.ImageLoaders.IntelHex.HexLoader,Reko.ImageLoaders.IntelHex"         Description="Intel HEX file" />

      <!-- Image unpackers take a compressed image and uncompress it. -->

      <Loader Label="LZEXE v0.91, v1.00a (1)"  Type="Reko.ImageLoaders.MzExe.LzExeUnpacker,Reko.ImageLoaders.MzExe" />
      <Loader Label="PKLITE v1.00, v1.03"      Type="Reko.ImageLoaders.MzExe.PkLiteUnpacker,Reko.ImageLoaders.MzExe" />
      <Loader Label="EXEPACK v4.05, v4.06"     Type="Reko.ImageLoaders.MzExe.ExePackLoader,Reko.ImageLoaders.MzExe" />
      <Loader Label="UPX -&gt; www.upx.sourceforge.net"   Argument="upx_ultimate.osc" Type="Reko.ImageLoaders.OdbgScript.OdbgScriptLoader,Reko.ImageLoaders.OdbgScript" />
      <Loader Label="UPX v0.89.6 - v1.02 / v1.05 - v1.22" Argument="upx_ultimate.osc" Type="Reko.ImageLoaders.OdbgScript.OdbgScriptLoader,Reko.ImageLoaders.OdbgScript" />
      <Loader Label="RekoUnpacker #823"                    Argument="RekoUnpacker_823.osc" Type="Reko.ImageLoaders.OdbgScript.OdbgScriptLoader,Reko.ImageLoaders.OdbgScript" />
      
      <!-- Reko-defined file format loaders -->
      
      <Loader Extension="xml" Type="Reko.Core.TypeLibraryLoader,Reko.Core"
              Label="RekoTypeLibrary" />
      <Loader Label="RekoAmigaHeader"        Type="Reko.Environments.AmigaOS.AmigaHeaderLoader,Reko.Environments.AmigaOS" />
      
      <!-- Signature loaders -->
      
      <Loader Label="FlirtoidSignatures"  Type="Reko.ImageLoaders.FlirtoidSignatureLoader,Reko" Description="Flirt-like signature definitions" />
      <Loader Label="DccSignatures"       Type="Reko.ImageLoaders.DccSignatureLoader,Reko"      Description="DCC decompiler signature definitions" />
      
      <!-- Other metadata sources -->
      <Loader Label="MpwPascal"           Type="Reko.Environments.MacOS.Classic.MpwPascalInterfaceLoader,Reko.Environments.MacOS" Description="MPW Pascal interface definitions" />

      <!-- Ultimate fallback; we know nothing about this file -->
      <Loader Label="raw"                 Type="Reko.Loading.NullImageLoader,Reko"                            Decompiler="(Unknown image format)" />
    </Loaders>

    <!-- Raw files have no headers, so we need a hint from the user -->
    <RawFiles>
        
      <RawFile Name="unknown.format" Description="(Unknown)" Loader="raw">
      </RawFile>

      <RawFile Name="ms-dos-com" Description="MS-DOS COM executable" Arch="x86-real-16" Env="ms-dos" Base="0C00:0100" Loader="raw">
        <Entry Addr="0C00:0100" Name="MsDosCom_Start">
          <!--  <Register Name="ax" Value="0" /> -->
        </Entry>
      </RawFile>

      <RawFile Name="cpm-com" Description="CP/M COM executable" Arch="z80" Env="cpm" Base="0100" Loader="raw">
        <Entry Addr="0100" Name="CpmCom_Start">
          <!--  <Register Name="hl" Value="0" /> -->
        </Entry>
      </RawFile>

      <RawFile Name="sega-genesis-rom" Description="Sega Genesis ROM" Arch="m68k" Env="sega-genesis" Base="0000" Loader="raw">
        <Entry Follow="true" Addr="0004" Name="Reset">
        </Entry>
      </RawFile>
      
      <RawFile Name="wii-dol" Description="Wii DOL" Arch="ppc-be-32" Env="wii" Base="80003F00" Loader="NintendoDol">
        <!-- The base address uses convention specified in http://wiibrew.org/wiki/Memory_Map -->
      </RawFile>

      <RawFile Name="intel-hex" Description="Intel HEX with 8, 16, 32-bit support" Loader="IntelHex">
      </RawFile>
      
    </RawFiles>

    <!-- Signature files contain byte signatures useful to identify file formats -->
    <SignatureFiles>
      <SignatureFile Filename="IMAGE_FILE_MACHINE_I386.xml" Type="Reko.Loading.UnpackerSignatureLoader,Reko" />
    </SignatureFiles>

    <!-- Each environment element defines the Operating environment Reko is aware of -->

    <Environments>
      <Environment Name="elf-neutral" Description="Unspecified ELF ABI" Type="Reko.Environments.SysV.SysVPlatform,Reko.Environments.SysV">
        <TypeLibraries>
          <TypeLibrary Name="lp32.xml" Arch="x86-protected-32,arm" />
          <TypeLibrary Name="libc.so.xml" />
          <TypeLibrary Name="Xlib.xml" />
          <TypeLibrary Name="opengl.xml" />
          <TypeLibrary Arch="x86-protected-32" Name="linux-syscalls-i386.xml" />
        </TypeLibraries>
        <Characteristics>
          <TypeLibrary Name="sysvcharacteristics.xml" />
        </Characteristics>
        <Architectures>
          <Architecture name="x86-protected-32">
            <TrashedRegisters>eax,ecx,edx</TrashedRegisters>
          </Architecture>
          <Architecture name="x86-protected-64">
            <TrashedRegisters>rax,rcx,rdx,rsi,rdi,r8,r9,r10,r11</TrashedRegisters>
          </Architecture>
          <Architecture name="sparc-32">
            <TrashedRegisters>g1,o1,o2,o3,o4,o5,sp,o7</TrashedRegisters>
          </Architecture>
          <Architecture name="mips-le-32">
            <TrashedRegisters>r2,r3,r4,r5,r6,r7,r8,r9,r10,r11,r12,r13,r14,r15,r24,r25</TrashedRegisters>
          </Architecture>
          <Architecture name="mips-be-32">
            <TrashedRegisters>r2,r3,r4,r5,r6,r7,r8,r9,r10,r11,r12,r13,r14,r15,r24,r25</TrashedRegisters>
          </Architecture>
          <Architecture name="mips-le-64">
            <TrashedRegisters>r2,r3,r4,r5,r6,r7,r8,r9,r10,r11,r12,r13,r14,r15,r24,r25</TrashedRegisters>
          </Architecture>
          <Architecture name="mips-be-64">
            <TrashedRegisters>r2,r3,r4,r5,r6,r7,r8,r9,r10,r11,r12,r13,r14,r15,r24,r25</TrashedRegisters>
          </Architecture>
          <Architecture name="ppc-be-64">
            <!-- TODO: not sure-->
            <TrashedRegisters>r0,r3,r4,r5,r6,r7,r8,r9,r10,r11,r12</TrashedRegisters>
          </Architecture>
          <Architecture name="ppc-be-32">
            <TrashedRegisters>r0,r3,r4,r5,r6,r7,r8,r9,r10,r11,r12</TrashedRegisters>
          </Architecture>
          <Architecture name="ppc-le-32">
            <TrashedRegisters>r0,r3,r4,r5,r6,r7,r8,r9,r10,r11,r12</TrashedRegisters>
          </Architecture>
        </Architectures>
      </Environment>

      <Environment Name="c64" Description="Commodore C64" Type="Reko.Environments.C64.C64Platform,Reko.Environments.C64"
                   MemoryMap="C64.xml">
      </Environment>

      <Environment Name="win16" Description="Windows (16-bit)" Type="Reko.Environments.Windows.Win16Platform,Reko.Environments.Windows">
        <TypeLibraries>
          <TypeLibrary Loader="spec" Name="krnl386.exe16.spec" Module="KERNEL" />
          <TypeLibrary Loader="spec" Name="gdi.exe16.spec" Module="GDI" />
          <TypeLibrary Loader="spec" Name="user.exe16.spec" Module="USER"/>
          <TypeLibrary Loader="spec" Name="commdlg.dll16.spec" Module="COMMDLG" />
        </TypeLibraries>
      </Environment>

      <Environment Name="win32" Description="Windows (Win32)" Type="Reko.Environments.Windows.Win32Platform,Reko.Environments.Windows">
        <TypeLibraries>
          <TypeLibrary Name="windows32.xml" />
          <TypeLibrary Name="wsock32.xml" />
          <TypeLibrary Name="commctrl.xml" />
          <TypeLibrary Name="msvcrt.xml" />
          <TypeLibrary Name="oleaut32.xml" />
          <TypeLibrary Name="ntoskrnl.xml" />
        </TypeLibraries>
        <Characteristics>
          <TypeLibrary Name="win32characteristics.xml" />
        </Characteristics>
        <Heuristics>
          <ProcedurePrologs>
            <Pattern>
              <Bytes>55 8B EC</Bytes>
              <Mask>FF FF FF</Mask>
            </Pattern>
          </ProcedurePrologs>
        </Heuristics>
      </Environment>

      <Environment Name="win64" Description="Windows (Win64)" Type="Reko.Environments.Windows.Win_x86_64_Platform,Reko.Environments.Windows">
        <TypeLibraries>
          <TypeLibrary Name="windows64.xml" />
          <TypeLibrary Name="commctrl.xml" />
          <TypeLibrary Name="msvcrt.xml" />
          <TypeLibrary Name="oleaut32.xml" />
          <TypeLibrary Name="ntoskrnl.xml" />
        </TypeLibraries>
        <Characteristics>
          <TypeLibrary Name="win64characteristics.xml" />
        </Characteristics>
      </Environment>

      <Environment Name="winArm" Description="Windows (ARM)" Type="Reko.Environments.Windows.Win32ThumbPlatform,Reko.Environments.Windows">
      </Environment>

      <Environment Name="winArm64" Description="Windows (AArch64)" Type="Reko.Environments.Windows.WinAArch64Platform,Reko.Environments.Windows">
      </Environment>

      <Environment Name="winMips" Description="Windows (MIPS)" Type="Reko.Environments.Windows.Win32MipsPlatform,Reko.Environments.Windows">
        <TypeLibraries>
          <TypeLibrary Name="coredll.def" Loader="ModuleDefinitionFile" />
          <TypeLibrary Name="windows32.xml" Loader="RekoTypeLibrary" />
          <TypeLibrary Name="windows_CE.xml" Loader="RekoTypeLibrary" />
          <TypeLibrary Name="wsock32.xml" />
          <TypeLibrary Loader="spec" Name="comctl32.spec" Module="commctrl.dll" />
        </TypeLibraries>
      </Environment>

      <Environment Name="winM68k" Description="Windows (M68k)" Type="Reko.Environments.Windows.Win32M68kPlatform,Reko.Environments.Windows">
        <TypeLibraries>
          <TypeLibrary Name="windows32.xml" Loader="RekoTypeLibrary" />
          <TypeLibrary Name="wsock32.xml" />
        </TypeLibraries>
        <Characteristics>
          <TypeLibrary Name="win32characteristics.xml" />
        </Characteristics>
      </Environment>
      
      <Environment Name="winPpc32" Description="Windows (PPC)" Type="Reko.Environments.Windows.Win32PpcPlatform,Reko.Environments.Windows">
        <TypeLibraries>
          <TypeLibrary Name="windows32.xml" Loader="RekoTypeLibrary" />
          <TypeLibrary Name="wsock32.xml" />
        </TypeLibraries>
        <Characteristics>
          <TypeLibrary Name="win32characteristics.xml" />
        </Characteristics>
      </Environment>

      <Environment Name="winAlpha" Description="Windows (Alpha)" Type="Reko.Environments.Windows.WinAlphaPlatform,Reko.Environments.Windows">
        <TypeLibraries>
          <TypeLibrary Name="windows32.xml" Loader="RekoTypeLibrary" />
          <TypeLibrary Name="wsock32.xml" />
        </TypeLibraries>
        <Characteristics>
          <TypeLibrary Name="win32characteristics.xml" />
        </Characteristics>
      </Environment>

      <Environment Name="ms-dos" Description="MS-DOS" Type="Reko.Environments.Msdos.MsdosPlatform,Reko.Environments.Msdos">
      </Environment>

      <Environment Name="cpm" Description="CP/M" Type="Reko.Environments.Cpm.CpmPlatform,Reko.Environments.Cpm"
                   MemoryMap="cpm_map.xml">
      </Environment>

      <Environment Name="amigaOS" Description="AmigaOS" Type="Reko.Environments.AmigaOS.AmigaOSPlatform,Reko.Environments.AmigaOS">
        <SignatureFiles>
          <SignatureFile Filename="amiga.flirtoid" Label="FlirtoidSignatures" />
        </SignatureFiles>
      </Environment>

      <Environment Name="riscOS" Description="RISC OS" Type="Reko.Environments.RiscOS.RiscOSPlatform,Reko.Environments.RiscOS">
        <Options>
          <dict key="versionDependentLibraries">
            <list key="33">
              <item>exec_v33</item>
              <item>dos_v33</item>
            </list>
            <list key="34">
              <item>exec_v34</item>
              <item>dos_v34</item>
            </list>  
          </dict>
        </Options>
      </Environment>

      <Environment Name="RT-11" Description="DEC RT-11" Type="Reko.Environments.RT11.RT11Platform,Reko.Environments.RT11">
        <TypeLibraries>
          <TypeLibrary Name="rt11_services.xml" />
        </TypeLibraries>
      </Environment>
      
      <Environment Name="zx81"
                   Description="ZX81"
                   Type="Reko.Environments.ZX81.ZX81Environment,Reko.Environments.ZX81">
      </Environment>

      <Environment Name="macOs"
                   Description="Mac OS Classic" 
                   Type="Reko.Environments.MacOS.Classic.MacOSClassic,Reko.Environments.MacOS">
        <TypeLibraries>
          <!--<TypeLibrary Name="macos_classic.xml" />-->
          <TypeLibrary Loader="MpwPascal" Name="Mac MPW Interfaces 1991 PASCAL.pas" />
        </TypeLibraries>
      </Environment>

      <Environment Name="macOsX"
                   Description="Mac OS X"
                   Type="Reko.Environments.MacOS.OSX.MacOSXPlatform,Reko.Environments.MacOS">
        <TypeLibraries>
        </TypeLibraries>
      </Environment>


      <Environment Name="elf-cell-lv2" 
                   Description="Playstation 3" 
                   Type="Reko.Environments.Ps3.Ps3Platform,Reko.Environments.Ps3">
      </Environment>

      <Environment Name="xbox360"
                   Description="Xbox 360"
                   Type="Reko.Environments.Xbox360.Xbox360Platform,Reko.Environments.Xbox360">
      </Environment>

      <Environment Name="trs80" 
                   Description="TRS-80"
                   Type="Reko.Environments.Trs80.Trs80Platform,Reko.Environments.Trs80"
                   MemoryMap="Trs80Rom.xml">
      </Environment>

      <Environment Name="sega-genesis"
                   Description="Sega Genesis"
                   Type="Reko.Environments.SegaGenesis.SegaGenesisPlatform,Reko.Environments.SegaGenesis"
                   MemoryMap="SegaGenesis.xml">
      </Environment>
      
      <Environment Name="wii" 
                   Description="Nintendo Wii"
                   Type="Reko.Environments.Wii.WiiPlatform,Reko.Environments.Wii">
      </Environment>

      <Environment Name="switch"
                   Description="Nintendo Switch"
                   Type="Reko.Environments.Switch.SwitchPlatform,Reko.Environments.Switch">
      </Environment>

      <Environment Name="neo-geo-pocket"
                   Description="Neo Geo Pocket"
                   Type="Reko.Environments.NeoGeo.PocketPlatform,Reko.Environments.NeoGeo"
                   MemoryMap="NeoGeoPocket.xml"/>

      <Environment Name="atariTOS"
                   Description="Atari TOS"
                   Type="Reko.Environments.AtariTOS.AtariTOSPlatform,Reko.Environments.AtariTOS">
        <TypeLibraries>
          <TypeLibrary Name="atariTOS.xml" />
        </TypeLibraries>
      </Environment>

      <Environment Name="hpux"
                   Description="HPUX"
                   Type="Reko.Environments.Hpux.HpuxPlatform,Reko.Environments.Hpux">
      </Environment>

      <Environment Name="coco"
                   Description="Tandy Color Computer"
                   Type="Reko.Environments.Trs80.ColorComputer,Reko.Environments.Trs80"
                   MemoryMap="CoCoMemoryMap.xml">
        <Architectures>
          <Architecture name="m6809" />
        </Architectures>
      </Environment>
    </Environments>

    <!-- Specifies the processor architectures Reko is aware of -->

    <Architectures>
      <Architecture Name="x86-real-16" Description="x86 16-bit Real Mode" Type="Reko.Arch.X86.X86ArchitectureReal,Reko.Arch.X86">
        <Options>
          <!-- These options currently have no effect -->
          <Option Name="Model" Required="true">
            <Choice Value="8086" />
            <Choice Value="80186" />
            <Choice Value="80286" />
            <Choice Value="80386" />
            <Choice Value="80486" />
            <Choice Value="Pentium" />
            <Choice Value="Pentium II" />
          </Option>
        </Options>
      </Architecture>
      <Architecture Name="x86-protected-16" Description="x86 16-bit Protected Mode" Type="Reko.Arch.X86.X86ArchitectureProtected16,Reko.Arch.X86" />
      <Architecture Name="x86-protected-32" Description="x86 32-bit Protected Mode" Type="Reko.Arch.X86.X86ArchitectureFlat32,Reko.Arch.X86" />
      <Architecture Name="x86-protected-64" Description="x86 64-bit Protected Mode" Type="Reko.Arch.X86.X86ArchitectureFlat64,Reko.Arch.X86" />
      <Architecture Name="m68k" Description="Motorola 68K family" Type="Reko.Arch.M68k.M68kArchitecture,Reko.Arch.M68k" />
      <Architecture Name="ppc-be-32" Description="PowerPC (32-bit big endian)" Type="Reko.Arch.PowerPC.PowerPcBe32Architecture,Reko.Arch.PowerPC">
        <Options>
          <!-- These options currently have no effect -->
          <Option Name="Endianness" Required="true">
            <Choice Text="Big endian" Value="be" />
            <Choice Text="Little endian" Value="le" />
          </Option>
          <Option Text="Word size (bits)" Name="Wordsize" Required="true">
            <Choice Value="32" />
            <Choice Value="64" />
          </Option>
          <Option Text="Processor Model" Name="Model" Required="true">
              <Choice Text="PowerPC" Value="" />  
              <Choice Text="750" Value="750" />  
          </Option>
        </Options>
      </Architecture>
      <Architecture Name="ppc-le-32" Description="PowerPC (32-bit little endian)" Type="Reko.Arch.PowerPC.PowerPcLe32Architecture,Reko.Arch.PowerPC" />
      <Architecture Name="ppc-be-64" Description="PowerPC (64-bit big endian)" Type="Reko.Arch.PowerPC.PowerPcBe64Architecture,Reko.Arch.PowerPC" />
      <Architecture Name="sparc32" Description="Sun SPARC 32-bit" Type="Reko.Arch.Sparc.SparcArchitecture32,Reko.Arch.Sparc" />
      <Architecture Name="arm" Description="ARM 32-bit" Type="Reko.Arch.Arm.Arm32Architecture,Reko.Arch.Arm" />
      <Architecture Name="arm-64" Description="ARM 64-bit" Type="Reko.Arch.Arm.Arm64Architecture,Reko.Arch.Arm" />
      <Architecture Name="arm-thumb" Description="ARM Thumb" Type="Reko.Arch.Arm.ThumbArchitecture,Reko.Arch.Arm" />
      <Architecture Name="avr8" Description="AVR (8-bit)" Type="Reko.Arch.Avr.Avr8Architecture,Reko.Arch.Avr" />
      <Architecture Name="blackfin" Description="Analog Devices Blackfin" Type="Reko.Arch.Blackfin.BlackfinArchitecture,Reko.Arch.Blackfin" />
      <Architecture Name="c64Basic" Description="Commodore 64 Basic" Type="Reko.Environments.C64.C64Basic,Reko.Environments.C64" />
      <Architecture Name="latticeMico32" Description="LatticeMico32" Type="Reko.Arch.LatticeMico.LatticeMico32Architecture,Reko.Arch.LatticeMico" />
      <Architecture Name="m6502" Description="MOS 6502" Type="Reko.Arch.Mos6502.Mos6502ProcessorArchitecture,Reko.Arch.Mos6502" />
      <Architecture Name="microBlaze" Description="MicroBlaze" Type="Reko.Arch.MicroBlaze.MicroBlazeArchitecture,Reko.Arch.MicroBlaze" />
      <Architecture Name="mips-be-32" Description="MIPS (32-bit big endian)" Type="Reko.Arch.Mips.MipsBe32Architecture,Reko.Arch.Mips" />
      <Architecture Name="mips-le-32" Description="MIPS (32-bit little endian)" Type="Reko.Arch.Mips.MipsLe32Architecture,Reko.Arch.Mips" />
      <Architecture Name="mips-be-64" Description="MIPS (64-bit big endian)" Type="Reko.Arch.Mips.MipsBe64Architecture,Reko.Arch.Mips" />
      <Architecture Name="mips-le-64" Description="MIPS (64-bit little endian)" Type="Reko.Arch.Mips.MipsLe64Architecture,Reko.Arch.Mips" />
      <Architecture Name="msp430" Description="MSP 430 family" Type="Reko.Arch.Msp430.Msp430Architecture,Reko.Arch.Msp430" />
      <Architecture Name="vax" Description="DEC VAX-11" Type="Reko.Arch.Vax.VaxArchitecture,Reko.Arch.Vax" />
      <Architecture Name="pdp11" Description="DEC PDP-11" Type="Reko.Arch.Pdp11.Pdp11Architecture,Reko.Arch.Pdp11" />
      <Architecture Name="xtensa" Description="Xtensa" Type="Reko.Arch.Xtensa.XtensaArchitecture,Reko.Arch.Xtensa" />
      <Architecture Name="risc-v" Description="RISC-V" Type="Reko.Arch.RiscV.RiscVArchitecture,Reko.Arch.RiscV" />
      <Architecture Name="superH-be" Description="SuperH (big endian)" Type="Reko.Arch.SuperH.SuperHBeArchitecture,Reko.Arch.SuperH" />
      <Architecture Name="superH-le" Description="SuperH (little endian)" Type="Reko.Arch.SuperH.SuperHLeArchitecture,Reko.Arch.SuperH" />
      <Architecture Name="tlcs-90" Description="Toshiba TLCS-90" Type="Reko.Arch.Tlcs.Tlcs90Architecture,Reko.Arch.Tlcs" />
      <Architecture Name="tlcs-900" Description="Toshiba TLCS-900" Type="Reko.Arch.Tlcs.Tlcs900Architecture,Reko.Arch.Tlcs" />
      <Architecture Name="alpha" Description="DEC Alpha" Type="Reko.Arch.Alpha.AlphaArchitecture,Reko.Arch.Alpha" />
      <Architecture Name="8051" Description="Intel 8051" Type="Reko.Arch.i8051.i8051Architecture,Reko.Arch.i8051" />
      <Architecture Name="tms7000" Description="Texas Instruments TMS7000" Type="Reko.Arch.Tms7000.Tms7000Architecture,Reko.Arch.Tms7000" />
      <Architecture Name="pic" Description="Microchip PIC16, PIC18 family" Type="Reko.Arch.MicrochipPIC.Common.PICArchitecture,Reko.Arch.MicrochipPIC">
        <Options>
          <Option Name="Model" Type="Reko.Arch.MicrochipPIC.Design.PICArchitecturePicker,Reko.Arch.MicrochipPIC.Design" />
        </Options>
      </Architecture>
      <Architecture Name="m6812" Description="Motorola / Freescale 6812" Type="Reko.Arch.M6800.M6812Architecture,Reko.Arch.M6800" />
      <Architecture Name="m6809" Description="Motorola / Freescale 6809" Type="Reko.Arch.M6800.M6809Architecture,Reko.Arch.M6800" />
      <Architecture Name="zSeries" Description="IBM zSeries" Type="Reko.Arch.zSeries.zSeriesArchitecture,Reko.Arch.zSeries" />
      <Architecture Name="rl78" Description="Renesas RL78" Type="Reko.Arch.Rl78.Rl78Architecture,Reko.Arch.Rl78" />
      <Architecture Name="paRisc" Description="HP PA-RISC" Type="Reko.Arch.PaRisc.PaRiscArchitecture,Reko.Arch.PaRisc">
        <Option Text="Word size (bits)" Name="WordSize" Required="true">
          <Choice Value="32" />
          <Choice Value="64" />
        </Option>
      </Architecture>
      <Architecture Name="crayYmp" Description="Cray Y-MP" Type="Reko.Arch.Cray.CrayYmpArchitecture,Reko.Arch.Cray" />
      <Architecture Name="openRisc" Description="OpenRISC" Type="Reko.Arch.OpenRISC.OpenRISCArchitecture,Reko.Arch.OpenRISC">
        <Options>
          <Option Text="Endianness" Name="Endianness" Required="true">
            <Choice Text="Big endian" Value="be" />
            <Choice Text="Little endian" Value="le" />
          </Option>
        </Options>
      </Architecture>
      <Architecture Name="arCompact" Description="ARCompact" Type="Reko.Arch.Arc.ARCompactArchitecture,Reko.Arch.Arc" />
      <Architecture Name="we32100" Description="Western Electric 32100" Type="Reko.Arch.WE32100.WE32100Architecture,Reko.Arch.WE32100" />
      <Architecture Name="z80" Description="Zilog Z-80" Type="Reko.Arch.Z80.Z80ProcessorArchitecture,Reko.Arch.Z80" />
    </Architectures>

    <!-- Specifies assemblers Reko can make use of -->
    <Assemblers>
      <Assembler Name="x86-masm" Description="MASM-Like assembler for Intel x86" Type="Reko.Assemblers.x86.IntelAssembler,Reko.Assemblers.x86" />
      <Assembler Name="pdp11-mac" Description="PDP-11 MACRO assembler" Type="Reko.Assemblers.Pdp11.Pdp11TextAssembler,Reko.Assemblers.Pdp11" />
    </Assemblers>

    <!-- Define all the symbol sources that Reko is able to consume -->
    <SymbolSources>
      <SymbolSource Name="pdb"   Extension="pdb"  Description="Microsoft PDB file ?good enough?" Type="notimplemented yet" />
      <SymbolSource Name="dwarf"                  Description="DWARF symbol file" Type="notimplemented yet" />
      <SymbolSource Name="c-header" Extension="h" Description="C/C++ header file" Type="notimplemented yet" /> 
    </SymbolSources>
    
    <!-- Default user interface preferences. Reko depends on these so don't 
         delete or rename them without changing UiPreferencesService. -->
    <UiPreferences>
      <Style Name="mem" Font="Lucida Console, 9pt" />
      <Style Name="mem-code"                      ForeColor="#000000" BackColor="#FFC0C0" />
      <Style Name="mem-heur"                      ForeColor="#000000" BackColor="#FFE0E0" />
      <Style Name="mem-data"                      ForeColor="#000000" BackColor="#C0C0FF" />
      <Style Name="dasm" Font="Lucida Console, 9pt" />
      <Style Name="dasm-opcode"                   ForeColor="#801010" Width="100" />
      <Style Name="dasm-bytes"                                        Width="200" />
      <Style Name="dasm-addrText"                 ForeColor="#008080" Cursor="Hand"/>
      <Style Name="code" Font="Lucida Console, 9pt" />
      <Style Name="code-kw"                       ForeColor="#0000FF" />
      <Style Name="code-cmt"                      ForeColor="#00C000" />
      <Style Name="type"                          ForeColor="#0000FF" />
      <Style Name="link"                          ForeColor="#008080" Cursor="Hand" />
      <Style Name="browser" />
      <Style Name="list" />
      <Style Name="lastLine"                      PaddingBottom="10" />
    </UiPreferences>
  </Reko>