<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge" version="17.0.0" targetFramework="net47" />
  <package id="Bridge.Core" version="17.0.0" targetFramework="net47" />
  <package id="Bridge.Min" version="17.0.0" targetFramework="net47" />
  <package id="Bridge.Newtonsoft.Json" version="1.7.0" targetFramework="net47" />
  <package id="Retyped.Core" version="1.5.6685" targetFramework="net47" />
  <package id="Retyped.dom" version="2.8.6685" targetFramework="net47" />
  <package id="Retyped.electron" version="1.8.6685" targetFramework="net47" />
  <package id="Retyped.es2015.collection" version="2.8.6685" targetFramework="net47" />
  <package id="Retyped.es2015.core" version="2.8.6685" targetFramework="net47" />
  <package id="Retyped.es2015.iterable" version="2.8.6685" targetFramework="net47" />
  <package id="Retyped.es2015.symbol" version="2.8.6685" targetFramework="net47" />
  <package id="Retyped.es5" version="2.8.6685" targetFramework="net47" />
  <package id="Retyped.es6-promise" version="4.2.6685" targetFramework="net47" />
  <package id="Retyped.handlebars" version="4.0.6685" targetFramework="net47" />
  <package id="Retyped.jquery" version="3.3.6685" targetFramework="net47" />
  <package id="Retyped.node" version="9.6.6685" targetFramework="net47" />
</packages>