<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <system.diagnostics>
    <switches>
      <add name="Coalescer" value="0"/>
      <add name="RegisterLiveness" value="0"/>
      <add name="DeadCode" value="0"/>
      <add name="TypeCollector" value="3"/>
      <add name="TypeTransformer" value="2"/>
      <add name="TraitCollector" value="2"/>
      <add name="CodeStructure" value="0"/>
      <add name="ValueNumbering" value="0"/>
	    <add name="Scanner" value="0"/>
	    <add name="StructureTransforms" value="0"/>
	    <add name="CcodeEliminator" value="0"/>
	    <add name="HunkLoader" value="4"/>
	    <add name="BackWalker" value="0"/>
      <add name="UnusedOutValuesRemover" value="0"/>
    </switches>
  </system.diagnostics>
</configuration>
