<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <add key="RekoConfiguration" value="reko.config" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <switches>
      <add name="Coalescer" value="0" />
      <add name="RegisterLiveness" value="0" />
      <add name="DeadCode" value="0" />
      <add name="TypeCollector" value="3" />
      <add name="TypeTransformer" value="2" />
      <add name="TraitCollector" value="2" />
      <add name="CodeStructure" value="0" />
      <add name="ValueNumbering" value="0" />
      <add name="Scanner" value="0" />
      <add name="StructureTransforms" value="0" />
      <add name="CcodeEliminator" value="0" />
      <add name="HunkLoader" value="4" />
      <add name="BackWalker" value="0" />
    </switches>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>